hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #{{ site.color.primary }};
}

hr.star-primary {
    border-color: #{{ site.color.secondary }};
}

hr.star-primary:after {
    color: #{{ site.color.secondary }};
    background-color: #fff;
}

.circular-jgpelaez {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;	
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	background: url(../media/about/juancarlosgpelaez-sea-small.jpg) no-repeat;
}